<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--  PROXY Mode
    0 : tous les sites peuvent être redirigé avec une url de type http://proxyweb/http//www.site.com/
    1 : un seul site peut être redirigé, dans ce cas, le serveur utilise la variable RemoteWebSite
    -->
    <add key="ProxyMode" value="1"/>
    <add key="RemoteWebSite" value="www.tokyotosho.info"/>
  </appSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <xhtmlConformance mode="Legacy"/>
    <pages/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="booki" verb="*" path="*" type="ReverseProxy.ReverseProxy, ReverseProxy"/>
    </handlers>
  </system.webServer>
</configuration>